@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---Site Colour Palette ---*/
:root {
    --main-bg: #A7A7A9;
    --main-bg-opaque: rgb(114, 122, 172, 0.5);
    --links: #4B8EF2;
    --main-text: #1550B5;
    --off-white: #fbf9f1;
    --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- Global Settings ---*/
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Barlow", Serif;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--main-text);
    letter-spacing: 1px;
    background-size: contain;
    max-width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 h6 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h6 {
    text-transform: capitalize;
}

/* --- Navigation Bar Settings --- */
nav {
    background-color: #1550B5;
}

.navbar .navbar-brand {
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #A7A7A9;
}

.navbar .navbar-nav .nav-item .active {
    color: #A7A7A9;
}

.nav-link,
.dropdown-item {
    font-size: 1rem;
}

/* --- Photo Carousel Settings --- */
.photo-carousel-gallery {
    position: relative;
    height: 100vh;
}

.img-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.img-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* --- Information Sections Settings --- */
section {
    min-height: 100vh;
    padding: 0px 5px;
}

.about-container,
.locality-container,
.contact-container {
    background-color: var(--main-bg-opaque);
    padding: 16px;
    min-height: 70vh;
    border-radius: 10px;
}

.heading-container {
    padding: 100px 0 0 0;
}

.heading-container h1 {
    background-color: var(--main-bg-opaque);
    border-radius: 10px;
    padding: 9px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- About Scotland Section Settings --- */
.row {
    --bs-gutter-x: none;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron p {
    text-align: center;
}

.intro-text {
    font-size: 1.25rem;
}

b,
strong {
    font-weight: bold;
}

/*--Buttons--*/
.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

.locality-button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color: #1550B5;
	border-radius: 3px;
	display:inline-block;
	cursor:pointer;
	color: #A7A7A9;
	font-family: Barlow;
	font-size: 1.2rem;
	padding: 6px 24px;
	text-decoration: none;
    text-shadow:0px 1px 0px #154682;
}

.locality-button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.locality-button:active {
	position:relative;
	top:1px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: rgb(114, 122, 172);
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown {
    text-align: center;
}

.dropdown-main span {
    font-size: 1.2rem;
}

.dropdown-item,
.dropdown-main {
    display: block;
    font-size: 0.9rem;
    text-align: center;
    width: 95%;
    margin: 12px auto;
    padding: 0.25rem 1rem;
}

.dropdown-item,
.dropdown-main {
    font-family: "Barlow", sans-serif;
    color:  #A7A7A9;
    text-decoration: none;
    background-color: #1550B5;
    border-radius: 3px;
    border: 1px solid #1550B5;
    cursor: pointer;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.dropdown-main:hover,
.dropdown-item:hover,
.api-button:hover {
    color: #A7A7A9;
}

.dropdown-main:focus,
.dropdown-item:focus,
.api-button:focus {
    outline: 5px auto #1550B5;
}

.dropdown-item {
    width: 250px;
}

.countryHeading {
    margin-bottom: 30px;
}

.card-text a {
    color: var(--links);
}

.container-image {
    height: auto;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.country-info p {
    text-align: left;
    font-size: 1rem;
}

.country-row {
    margin-bottom: 50px;
}

/* --- Locations Map Settings --- */
.locality-placeholder img {
    height: 150px;
    width: 200px;
    margin: 25px auto;
    padding: 0;
    z-index: 0;
}

#map {
    border: 2px solid red;
    height: 180px;
    width: 100%;
}

.locality-placeholder {
    text-align: center;
}

.localityrow h5 {
    margin: 25px auto;
}

/* --- Locations Section Settings --- */
.localityrow {
    width: 95%;
    margin: 30px auto;
}

.map-col {
    display: flex;
    justify-content: end;
}

.locality-section a {
    color: var(--links);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.locality-section a,
.locality-section p {
    text-align: justify;
}

.country-content {
    height: 100%;
}

/* --- Contact Us Settings--- */
#contactForm {
    width: 100%;
    margin: 35px auto;
}

.contact-container {
    background-color: var(--main-bg-opaque);
    background-size: cover;
}

label,
.subscribe-text {
    margin: 10px 5px 5px;
}

.radio-btn input,
.radio-btn label {
    margin: 10px 0 0 0;
}

.btn-secondary {
    background-color: #1550B5;
}

#submit-btn {
    margin-top: 15px;
    width: 100px;
}

/* --- Footer Settings --- */
footer {
    height: 4rem;
    background-color: #1550B5;
    display: flex;
    margin-bottom: -1px;
}

.footer-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0;
}


/*--- Social Media icons ---*/
.social {
    list-style: none;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.social i {
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
    color: var(--main-bg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.social i:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*--- Media Queries ---*/
@media only screen and (min-width: 375px) {
    #map,
    .locality-placeholder img {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .btn-container {
        margin-bottom: 45px;
    }
    .container-image {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }
    .card-text {
        font-size: 0.9rem;
    }
    .country-info {
        padding: 5px 20px;
    }
    body {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .dropdown {
        margin: auto;
    }
    .img-contain {
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 10px 0;
    }
    #contactForm {
        width: 75%;
        margin: 50px auto;
    }
}

@media only screen and (min-width: 992px) {
    #map,
    .locality-placeholder img {
        height: 400px;
        width: 400px;
    }
    .img-contain img {
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    form {
        padding: 40px 120px;
    }
}

@media only screen and (min-width: 1200px) {
    #map,
    .locality-placeholder img {
        height: 450px;
        width: 450px;
    }
}

@media only screen and (max-width: 768px) {
    .heading-container h1 {
        font-size: 1.75rem;
    }
}